<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= user.followings.count %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= user.followers.count %></th>
  </tr>
</table>
　
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>

  <% if current_user != user %>
    <% if current_user.following?(user) %>
      <button class= 'btn btn-warning'><%=link_to "フォロー解除", user_relationships_path(user.id), method: :delete %></button>
    <% else %>
      <button class= 'btn btn-success'><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></button>
    <% end %>
  <% end %>
